html 
	{
	padding:0;
	margin:0;
	}

body{
margin:0px;
padding:0px;
line-height: 1.5em;
background:#e2e2e2;
font-family: arial,"lucida sans", verdana, helvetica, sans-serif;
}

.layer
	{
	width:1350px;
	height: 1020px;
	background: #e2e2e2;
	font-family:arial;
	font-size:12px;
	margin: 0px auto;
	float:center;
	}

.backlog
	{
	width:744px;
	height:310px;
	position:absolute;
	margin-top:0px;
	margin-left:302px;
	background: url(../img/back.png) no-repeat;
	text-align:center;
	}

.b_left
	{	
	width: 302px;
	height:54px;
	background: url(../img/b_left.png) no-repeat;
	position:absolute;
	margin-top:256px;
	margin-left:0px;
	}

.b_right
	{	
	width: 314px;
	height:54px;
	background: url(../img/b_right.png) no-repeat;
	position:absolute;
	margin-top:256px;
	margin-left:1045px;
	}

.content
	{
	width:1359px;
	height:663px;
	margin-top:310px;
	background:#7a0089;
	position:absolute;
	}



.contenta
	{
	
	width:1000px;
	height:350px;
	margin-left:170px;
	margin-top: 140px;
	
	}

.contentb
	{
	width: 500px;
	height: 350px;
	
	position: absolute;
	margin-left: 400px;
	margin-top: 0px;
	color: #fff;
	}

.contentb p
	{
	color: #fff;
	}

.login
	{
	width: 350px;
	height: 200px;
	margin-left: 40px;
	}
.loginf
	{
	width: 80px;
	height:30px;
	float:left;
	font-family:arial;
	font-size:12px;
	color: #fff;
	font-weight:bold;
	}

.loginv
	{
	width: 250px;
	height:30px;
	color:#fff;
	font-weight:bold;
	}

.loginvs
	{
	width: 250px;
	height:30px;
	color:#fff;
	font-weight:bold;
	text-align:right;
	 cursor: pointer;
	}

.loginv a
	{
	color: #fff;
	text-decoration: none;
	}

.input 
{
border:solid 1px #9d00ab;
background:#35003c;
color: #eeeeee;
font-family:verdana;
font-size:12px;
font-weight:bold;
}

.input hover
{
border:solid 1px #9d00ab;
background:#35003c;
}

.check
{
background:#35003c;
color:#fff;
-moz-border-radius: 10px; -webkit-border-radius: 10px;
-moz-appearance:none;
webkit-appearance:none;
-o-appearance:none;
border: 0px inset ThreeDFace ! important;
}


.lcontent
	{
	width: 350px;
	height: 100%;
	
	float: left;
	}

.sub
	{
	width: 500px;
	height: 50px;
	
	text-align:right;
	}


.logo
	{
	width: 210px;
	height: 49px;
	background: url(../img/logo.png) no-repeat;
	position:absolute;
	margin-left: 270px;
	margin-top: 70px;
	
	}


.banner 
	{
	width: 950px;
	margin-left:220px;
	margin-top:160px;
	position: absolute;
	
	height: 290px;
	background: url(../img/banner.png) no-repeat;
	}

.footer
	{
	width: 1350px;
	height: 80px;
	position:absolute;
	text-align:center;
	color: #808080;
	font-family:arial;
	font-size:12px;
	}